// project colors

:root {
  --theme-default: #b46b0d !important;
}

// Hiding the setting icon
.sidebar-pannle-main {
  display: none !important;
}

// System Settings-Table-Action Column-buttons starts
.tb-action-flex {
  display: flex;
}

.tb-action-button {
  display: flex;
  justify-content: center;
  padding: 7px 12px;
  margin: 5px;
  align-items: center;
  font-size: 14px;
  > i {
    color: white;
    margin-right: 3px;
    scale: 0.8;
  }
}

// System Settings-Table-Action Column-buttons ends

// Table Modal Starts
.tableModal {
  background-color: #fcfcfc;
  background-image: none;
}
//Table Modal Ends

// Login Page Starts
.login-card {
  background: linear-gradient(
    90deg,
    rgba(255, 155, 59, 0.529),
    rgba(255, 170, 78, 0.278)
  ) !important;
}

// .custom-login-btn.btn-primary {
//   transition: all 0.2s ease-in-out;
// }

// .custom-login-btn.btn-primary:active,
// .custom-login-btn.btn-primary.active,
// .custom-login-btn.btn-primary:focus {
//   background-color: transparent !important;
//   border-color: #f2be50 !important;
//   // color: #f2be50 !important;
// }

// Login Page Ends

// Loader Color Starts
.swal2-loader {
  border-color: #f2be50 transparent #f2be50 transparent !important; /* Example: Indigo */
}
// Loader Color Ends

// Card header-1 Start
.custom-card-header.card-header {
  padding: 18px 7px !important;
}

// Card header-1 End

//Phone Number Input Starts

.PhoneInputInput {
  border: none;
  background-color: inherit;
  color: inherit;
}

.PhoneInputInput:focus-visible {
  border: none;
}

//Phone Number Input Ends

//Stepper Form Starts

.basic-wizard .stepper-horizontal .step .step-bar-left,
.basic-wizard .stepper-horizontal .step .step-bar-right {
  background-color: rgba($primary-color, 1);
}

//Stepper Form Ends

//sticky-breadcrumbs starts
.sticky-breadcrumbs {
  position: sticky !important;
  top: 4.8rem;
  background-color: inherit;
  transition: background-color 0.3s ease-in-out;
}

.scrolled {
  z-index: 8;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

//sticky-breadcrumbs ends

// Select Field Styles starts

.react-select__control css-13cymwt-control {
  background-color: #f4f5f8 !important;
}

// Select Field Styles ends

// Change in variables.scss for the primary-color
// $primary-color: #f2be50 !important;

//header close btn
.close-btn {
  padding: 0.5rem;
}

//breadcrumb header

.page-title .breadcrumb-item.active {
  color: rgba($primary-color, 1);
}
